{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note App</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    <div id="notes-container">
    

    <h1 class="heading">Note App</h1>
    <p class="info-text">Double click on a note to remove it</p>
    <div class="app" id="app">
        <button class="btn" id="btn">+</button>
    </div>
    
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>